<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/studentPage/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Bem-vindo(a) ao System Dev!</h1>
    <h3>Aluno: <%= aluno[0].nome %> </h3>
    <h4>Mátricula: <%= aluno[0].matricula %> </h4>
    <h2>Lista de Disciplinas:</h2>
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Disciplina</th>
          <th>Professor(a)</th>
        </tr>
      </thead>
      <tbody>
        <% if(disciplinas.length != null){ %>
            <% for(var i = 0; i < disciplinas.length; i++){ %>
              <a style="cursor: pointer;" href="/">
                <tr>
                  <td>00<%= disciplinas[i].id %></td> 
                  <td><%= disciplinas[i].nome %></td>     
                  <td><%= disciplinas[i].professor %></td>          
                </tr>
              </a>
            <%}%>
        <%}%>
        
        
      </tbody>
      
    </table>
    <a class="add" href="addSubject?matricula= <%= aluno[0].matricula %>" >+</a>
</body>
</html>