<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/subject/styleAdd.css">
    <title>Alterar</title>
</head>
<body>
    <div class="contentMain">
        <form action="/studentPage/alterar" method="POST">
            <h1>Alterar Disciplina</h1>
            <input style="display: none" id="id" name="id" value="<%= disciplina[0].id %>" >
            <label>Nome</label>
            <input type="text" id="nome" name="nome" value="<%= disciplina[0].nome %>" required>
            <label>Professor</label>
            <input type="text" id="professor" name="professor" value="<%=disciplina[0].professor %>" required>
            <label>Quantidade de notas</label>
            <input type="number" id="quantNotas" name="quantNotas" value= "<%= disciplina[0].quantNotas %>" required>
            <label>Localidade</label>
            <input id="localidade" name="localidade" value="<%= disciplina[0].localidade %>">
            <label>Sala</label>
            <input id="sala" name="sala" value="<%= disciplina[0].sala %>">
            <button type="submit">Alterar</button>
        </form>
    </div>
</body>
</html>