<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/subject/styleInfo.css">
    <title><%=disciplina[0].nome%> - <%=aluno[0].matricula%></title>
</head>
<body>
    <div class="addAtividade">     
      <form action="/addAtividade?aluno=<%= aluno[0].matricula %>&password=<%= pass %>" method="POST">
        <h1>Nova Atividade</h1>
        <input style="display: none;" id="idDisciplina" name="idDisciplina" value="<%= disciplina[0].id %>">
        <label>Nome</label>
        <input type="text" id="nome" name="nome" required>
        <label>Prazo</label>
        <input type="date" id="data" name="data" required>
        <button type="submit">Criar</button>
        <button type="button" onclick="addPop()">Voltar</button>
      </form>
    </div>

    <div class="addNota">
      <form action="/salvarNota?password=<%= pass %>" method="POST">
        <h1>Nova Nota</h1>
        <input style="display: none;" id="matriculaAluno" name="matriculaAluno" value="<%= aluno[0].matricula %>">
        <input style="display: none" id="idDisciplina" name="idDisciplina" value="<%= disciplina[0].id %>">
        <label>Peso</label>
        <input type="number" min="1" id="peso" name="peso" required>
        <label>Nota</label>
        <input type="number" step="any" min="0" max="10" id="nota" name="nota" required>
        <button type="submit">Adicionar</button>
        <button type="button" onclick="addPopNota()">Voltar</button>
      </form>
    </div>
    <div class="main">
    <header>
      <h1><strong>Informações da Disciplina</strong></h1>
      <a href="/studentPage?key=<%= key %>&matricula=<%= aluno[0].matricula %>&password=<%= pass %>"><button>Voltar</button></a>
    </header>
    <section>
        <h2><%= disciplina[0].nome %></h2>      
          <p>Professor: <%= disciplina[0].professor %></p>
          
          <p>Sala: <%= disciplina[0].sala %></p>
          
          <p>Campus: <%= disciplina[0].localidade %></p>
          
          <h2>Atividades para Entregar:</h2>
          <ul>
            <% if(atividades.length != 0){%>
              <%for(var i = 0; i < atividades.length; i++){%>
                <li class="ativLi"><%= atividades[i].nome %> (Prazo: <%= atividades[i].data %>) <a href="/removerAtividade?idAtividade=<%= atividades[i].id %>&disciplina=<%= disciplina[0].id %>&aluno=<%= aluno[0].matricula %>&pass=<%= pass %>"><button style="padding: 0.5rem"></button></a></li>
              <%}%>
            <%} else{%>
              <p>Nenhuma atividade pendente!</p>
            <%}%>
          </ul>
          <button onclick="addPop()" class="button">Nova Atividade</button>
      </section>
  
      <section>
        <h2>Suas notas</h2>
        <table>
          <tr>
            <th>Disciplina</th>
            <%for(var i = 0; i <= disciplina[0].quantNotas - 1; i++){%>
              <th><%= i + 1 %>ª Etapa</th>
            <%}%>
          </tr>
          <tr>
            <th><%= disciplina[0].nome %></th>
            <%for(var i = 0; i <= disciplina[0].quantNotas - 1; i++){%>
              <% if(notas[i] != undefined){ %>
                <th style="background-color: #f2f2f2; color: black;" >
                  <%= notas[i].nota %> (Peso: <%= notas[i].peso %>)
                  <a style="text-decoration: none; color: red; margin-left: 1rem" href="/removerNota?id= <%=notas[i].id %>&disciplina=<%= disciplina[0].id %>&aluno=<%= aluno[0].matricula %>&pass=<%= pass %>">X</a>
                </th>
                
                <%} else{%>
                  <th>
                    <% if(notaFut > 0){ %>
                      <a onclick="addPopNota()"><button>+ (Nota mínima: <%= notaFut %>)</button></a>
                    <% }else{ %>
                      <a onclick="addPopNota()"><button>+</button></a>
                    <% } %>
                  </th>
                <%}%>
                
            <%}%>
            <% if(media != 0 || notaFut > 10) { %>
              <% if(notaFut > 10){ %>
                <h1>Reprovado</h1>
              <% } else{%>  
                <% if(media >= 7.0){ %>
                  <h1>Aprovado com média <%= media %></h1>
                <% }else{ %>
                  <h1>Reprovado com média <%= media %></h1>
                <% } %>
              <% } %>
            <% } %>
          </tr>
        </table>
      </section>
    </div>
      <script src="/subject/scriptInfo.js"></script>
</body>
</html>